<div class="content">
  <div class="find-helpers">
    <div class="search-bar">
      <select title="search-crisis">
        <option value="title">title</option>
        <option value="genre">genre</option>
        <option value="director">director</option>
        <option value="actor">actor</option>
      </select>
      <input type="text" />
    </div> <!-- search-bar -->
    <div class="sort-bar">
      <span>Sort by</span>
      <select title="movie-sort">
        <option value="release-desc">release(desc)</option>
        <option value="release-asc">release(asc)</option>
        <option value="title-desc">title(desc)</option>
        <option value="title-asc">title(asc)</option>
      </select>
    </div> <!-- sort-bar -->
  </div> <!-- find-db -->
  <div class="movie-infos">
    <% for(var i=0; i < movieList.length; i++) { %>
    <div class="movie-info">
      <div>
        <img src="<%= movieList[i].post_url %>" alt="<%= movieList[i].title %>" />
        <h3><%= movieList[i].title %></h3>
        <span><%= movieList[i].main_genre %></span>
        <span><%= movieList[i].play_time %></span>
      </div>
    </div>
    <% } %>
  </div> <!-- movie-infos -->
  <div class="movie-details">
    <% for(var i=0; i < movieList.length; i++) { %>
    <div id="<%= movieList[i].movie_id %>" class="movie-detail">
      <div class="movie-detail-movie">
        <table>
          <tbody>
          <tr>
            <td>
              <img src="<%= movieList[i].post_url %>" alt="<%= movieList[i].title %>" />
            </td>
            <td>
              <div>
                <h1><%= movieList[i].title %></h1>
                <p class="sub-info"><%= movieList[i].play_time %> | <%= movieList[i].release_year %> | <%= movieList[i].genre %></p>
                <p><%= movieList[i].description %></p>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div> <!-- movie-detail-movie -->
      <div class="review-input">
        <textarea
            class="review-textarea"
            placeholder="Write your review here. Our AI will evaluate your review!">
        </textarea>
        <button></button>
      </div>
      <div class="reviews">
        <p>Loading...</p>
      </div>
    </div> <!-- movie-detail -->
    <% } %>
  </div> <!-- movie-details -->
</div> <!-- content -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
